@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/Satoshi-Regular.otf');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/Satoshi-Medium.otf');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/assets/fonts/Satoshi-Bold.otf');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'IntegralCF';
  src: url('/assets/fonts/IntegralCF-Bold.otf');
  font-style: normal;
  font-weight: 700;
}
