// * Colors
// Global colors
$c-black:#000000;
$c-white:#ffffff;
$c-gray:#666666;
$c-light-gray:#999999;
$c-red:#ff3333;
$c-light-red:#feebeb;

// Fonts colors
$c-title: $c-black;
$c-text: $c-gray;
$c-text-light: $c-light-gray;
$c-text-white:$c-white;
$c-text-black:$c-black;

// Background colors
$c-background-black:$c-black;
$c-background-white:$c-white;
$c-background-gray:#f0eeed;
$c-background-light-gray:#f0f0f0;
$c-red-background:$c-light-red;

// Border colors
$c-border-black: $c-black;
$c-border-light-gray: #e6e6e6;


// * Fonts
$ff-text:'Satoshi';
$ff-title:'IntegralCF';

// * Other
$currency:'$';