<div class="footer">
  <div class="footer-wrapper">
    <ul class="footer-items">
      <li class="footer-item">
        <div class="logo">SHOP.CO</div>
        <div class="text">
          We have clothes that suits your style and which you’re proud to wear.
          From women to men.
        </div>
          <!-- TODO Social links -->
          <ul class="social-links">
            <li>
              <a href="#" class="social-link">
                <img src="assets/images/facebook.png" />
              </a>
            </li>
          </ul>

      </li>
      <li class="footer-item">
        <div class="title">Company</div> 
        <ul>
          <li>
            <a href="#">About </a>
          </li>
          <li>
            <a href="#">Features </a>
          </li>
          <li>
            <a href="#">Works </a>
          </li>
          <li>
            <a href="#">Career </a>
          </li>
        </ul>
      </li>
      <li class="footer-item">
        <div class="title">Help</div>
        <ul>
          <li>
            <a href="#">Customer Support </a>
          </li>
          <li>
            <a href="#">Delivery Details </a>
          </li>
          <li>
            <a href="#">Terms & Conditions </a>
          </li>
          <li>
            <a href="#">Privacy Policy </a>
          </li>
        </ul>
      </li>
      <li class="footer-item">
        <div class="title">FAQ</div>
        <ul>
          <li>
            <a href="#">Account </a>
          </li>
          <li>
            <a href="#">Manage Deliveries </a>
          </li>
          <li>
            <a href="#">Orders </a>
          </li>
          <li>
            <a href="#">Payment </a>
          </li>
        </ul>
      </li>
      <li class="footer-item">
        <div class="title">Resources</div>
        <ul>
          <li>
            <a href="#">Free eBooks </a>
          </li>
          <li>
            <a href="#">Developer Tutorials </a>
          </li>
          <li>
            <a href="#">How to - Blog </a>
          </li>
          <li>
            <a href="#">Youtube Playlist </a>
          </li>
        </ul>
      </li>
    </ul>
    <div class="line"></div>
    <div class="footer-bottom">
      <div class="copyright">Shop.co © 2000-2023, All Rights Reserved</div>
      <!-- TODO Payment methods -->
      <ul class="payment-methods">
        <li>
          <a href="#">
            <img src="assets/images/payment-method.png" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
