<div class="header">
  <div class="header-wrapper">
    <div class="header-navigation">
      <!-- Header content -->
      <div class="logo">
        <app-logo></app-logo>
      </div>
      <!-- Navigation -->
      <div class="navigation">
        <app-navigation></app-navigation>
      </div>
    </div>
    <div class="header-actions">
      <!-- Search -->
      <div class="search">
        <!-- Search input -->
        <textarea
          class="search-text"
          placeholder="Search for products..."
        ></textarea>
        <!-- Search icon -->
        <div class="search-icon">
          <img src="assets/icons/shop/search.svg" alt="Search icon" />
        </div>
      </div>
      <!-- Icons -->
      <div class="icons">
        <!-- Cart -->
        <div class="icon cart-icon">
          <a href="">
            <img src="assets/icons/shop/cart.svg" alt="Cart icon" />
          </a>
        </div>
        <!-- User -->
        <div class="user-icon">
          <a href="">
            <img src="assets/icons/shop/user.svg" alt="User icon" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
