<div class="filters">
  <div class="filters-wrapper">
    <!-- TODO Filters -->
    <div class="title">Filters</div>
    <div class="section">
      <div class="filter">
        <a href="#">T-shirts</a>
        <span>></span>
      </div>
      <div class="filter">
        <a href="#">Shorts</a>
        <span>></span>
      </div>
      <div class="filter">
        <a href="#">Shirts</a>
        <span>></span>
      </div>
      <div class="filter">
        <a href="#">Hoodies</a>
        <span>></span>
      </div>
      <div class="filter">
        <a href="#">Jeans</a>
        <span>></span>
      </div>
    </div>
    <div class="section">
      <div class="title">Price</div>
      <!-- TODO Range with two inputs -->
      <div class="range"></div>
    </div>
    <div class="section">
      <div class="title">Color</div>
      <!-- TODO Colors -->
      <div class="colors">
        <div class="color"></div>
      </div>
    </div>
    <div class="section">
      <div class="title">Size</div>
      <!-- TODO Sizes -->
      <div class="sizes">
        <div class="size"></div>
      </div>
    </div>
    <div class="section">
      <div class="title">Dress Style</div>
      <!-- TODO Styles -->
      <div class="styles">
        <div class="filter">
          <a href="#">Casual</a>
          <span>></span>
        </div>
        <div class="filter">
          <a href="#">Formal</a>
          <span>></span>
        </div>
        <div class="filter">
          <a href="#">Party</a>
          <span>></span>
        </div>
        <div class="filter">
          <a href="#">Gym</a>
          <span>></span>
        </div>
      </div>
    </div>
    <button class="button">Apply Filter</button>
  </div>
</div>
