<div class="brands">
  <div class="brands-wrapper">
    <!-- TODO Brands list -->
    <ul>
      <li>
        <img
          class="brand-image"
          src="assets/icons/brands/versace-logo.svg"
          alt="Versace"
        />
      </li>
      <li>
        <img
          class="brand-image"
          src="assets/icons/brands/zara-logo.svg"
          alt="Zara"
        />
      </li>
      <li>
        <img
          class="brand-image"
          src="assets/icons/brands/gucci-logo.svg"
          alt="Gucci"
        />
      </li>
      <li>
        <img
          class="brand-image"
          src="assets/icons/brands/prada-logo.svg"
          alt="Prada"
        />
      </li>
      <li>
        <img
          class="brand-image"
          src="assets/icons/brands/calvin-klein-logo.svg"
          alt="Calvin Klein"
        />
      </li>
    </ul>
  </div>
</div>
