<div class="comments">
  <div class="comments-wrapper">
    <!-- TODO Comments -->
    <div class="title">Our Happy Customers</div>
    <ul class="comments-slider">
      <li class="comment">
        <div class="score">5</div>
        <div class="name">Sarah M.</div>
        <div class="text">"I'm blown away by the quality and style of the clothes I received from Shop.co. From casual wear to elegant dresses, every piece I've bought has exceeded my expectations.”
        </div>
      </li>
    </ul>
    <button class="arrow-left">
      <img src="assets/images/arrow-left.png" />
    </button>
    <button class="arrow-right">
      <img src="assets/images/arrow-right.png" />
    </button>
  </div>
</div>
