<div class="cart-summary">
  <div class="cart-summary-wrapper">
    <!-- TODO Cart summary -->
    <div class="title">
      <span>Order Summary</span>
    </div>
    <div class="subtotal">
      <span>Subtotal</span>
      <span>145</span>
    </div>
    <div class="discount">
      <span>Discount (-20%)</span>
      <span>0</span>
    </div>
    <div class="delivery fee">
      <span>Delivery Fee</span>
      <span>0</span>
    </div>
    <div class="total">
      <span>Total</span>
      <span>145</span>
    </div>
    <!-- Promo code input -->
    <div class="promo-code">
      <input type="text" placeholder="Add promo code" />
      <button>Apply</button>
    </div>
    <button class="button">Go to Checkout</button>
  </div>
</div>