<div class="cart-product">
  <div class="cart-product-wrapper">
    <!-- TODO Cart product -->
    <div class="cart-product-left">
      <div class="image">
        <img src="assets/images/product-1.png" />
      </div>
      <div class="name">Name</div>
      <div class="size">Large</div>
      <div class="color">White</div>
      <div class="price">145</div>
    </div>
    <div class="cart-product-right">
      <div class="delete">
        <img src="assets/images/delete.png" />
      </div>
      <div class="quantity">
        <button>-</button>
        <span>1</span>
        <button>+</button>
      </div>
    </div>
</div>