<div class="banner">
  <div class="banner-wrapper">
    <div class="content">
      <!-- Title -->
      <div class="title">FIND CLOTHES THAT MATCHES YOUR STYLE</div>
      <!-- Subtitle -->
      <div class="subtitle">
        Browse through our diverse range of meticulously crafted garments,
        designed to bring out your individuality and cater to your sense of
        style.
      </div>
      <!-- Button -->
      <div class="button">
        <app-button [parentFunction]="parentFunction">Shop Now</app-button>
      </div>
      <!-- TODO Scores -->
      <ul class="scores">
        <li>
          <div class="value">200+</div>
          <div class="text">International Brands</div>
        </li>
        <li></li>
        <li>
          <div class="value">2,000+</div>
          <div class="text">High-Quality Products</div>
        </li>
        <li></li>
        <li>
          <div class="value">30,000+</div>
          <div class="text">Happy Customers</div>
        </li>
      </ul>
    </div>

    <!-- Background -->
    <div class="background">
      <img class="banner-image" src="assets/images/background/banner-bg.png" />
      <!-- Decoration -->
      <div class="decoration">
        <img class="shine-big" src="assets/icons/decoration/shine.svg" />
        <img class="shine-small" src="assets/icons/decoration/shine.svg" />
      </div>
    </div>
  </div>
</div>
