<nav class="navigation">
  <!-- TODO Navigation -->
  <ul class="navigation-list">
    <li class="navigation-item dropdown">
      <a href="#">Shop</a>
      <!-- TODO Dropdown -->
      <ul class="dropdown-content">
        <li>
          <a href="#">Placeholder</a>
        </li>
      </ul>
    </li>
    <li class="navigation-item">
      <a href="#">On Sale</a>
    </li>
    <li class="navigation-item">
      <a href="#">New Arrivals</a>
    </li>
    <li class="navigation-item">
      <a href="#">Brands</a>
    </li>
  </ul>
</nav>